[Unit]
Description=Daily Rewards Entry Task
After=network.target

[Service]
Type=oneshot
User=pies
Group=pies
WorkingDirectory=/opt/hai/daily-rewards
EnvironmentFile=/opt/hai/daily-rewards/.env

Environment=FEATURE_MODE=production
ExecStart=/usr/bin/flock -n /var/lock/daily-rewards.lock /home/pies/.nvm/versions/node/v24.16.0/bin/node dist/modules/orchestrator/cli.js
StandardOutput=append:/var/log/entry-task.log
StandardError=append:/var/log/entry-task.log
TimeoutStartSec=7200

# Retry configuration
Restart=on-failure
RestartSec=60
StartLimitBurst=3
StartLimitIntervalSec=600

[Install]
WantedBy=multi-user.target
