o see these additional updates run: apt list --upgradable
  GNU nano 6.2                                         entry-task.timer
[Unit]
Description=Daily Rewards Entry Task


[Timer]
OnCalendar=*:30
Persistent=true

[Install]
WantedBy=timers.target








